html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    background-color: hsl(233, 47%, 7%);
    font-size: 0.9375rem;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}

.content {
    display: flex;
	align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 90%;
    height: 80%;
    border-radius: 12px;
}

.text-container {
    overflow: auto;
    height: 60%;
    padding: 1rem;
}

.text-container h1 span {
    color: hsl(277, 64%, 61%)
}

h1 {
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
}

.item div {
    color: hsla(0, 0%, 100%, 0.6);
}

p {
    font-family: 'Inter', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    line-height: 1.6;
    font-size: 0.8rem;
}

.bottom div {
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding-top: 0.5rem;
    text-transform: uppercase;
}

.bottom h1 {
    padding: 0;
    margin: 0;
}

.image {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-image: url("../images/image-header-mobile.jpg");
    width: 100%;
    height: 40%;
    overflow: hidden;
    position: relative;
    background-size: cover;
}

.image:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: hsla(277, 64%, 61%, 0.6);
  }

@media (min-width: 1439px) {
    .container {
        width: 70%;
        height: 50%;
    }
    .container div {
        display: inline-block;
    }
    .image {
        width: 50%;
        height: 100%;
    }
    .text-container {
        overflow: hidden;
        height: 100%;
        width: 50%;
        float: left;
        padding: 3rem;
        padding-left: 4rem;
        text-align: initial;
    }

    h1 {
        width: 65%;
    }
    p {
        width: 58%;
    }
    .bottom {
        margin-top: 6.25rem;
    }
    .bottom .item {
        margin-right: 2rem;
    }

    .image {
        border-top-left-radius: 0px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }

}

